.logo-link:hover .logo-text .logo-wort{
    color: #008118
}

.contact-item:hover{
    color: #008118
}

.places-item:hover .place-link .place-name{
    color: #008118
}

.place-info{
    background-color: #008118;
}

.btn-theme:hover{
    color: #008118;
    border: 1px solid #008118;
}